#!/usr/bin/env xdg-open

[Desktop Entry]
Categories=System;
Comment=
Exec=/usr/share/gnome-usbguard/usbguard_gnome_window.py
Icon=/usr/share/icons/hicolor/scalable/usbguard-gnome.svg
Keywords=USB;USBGuard;
Name=USBGuard
NoDisplay=false
Path=
StartupNotify=true
StartupWMClass=
Terminal=false
TryExec=
Type=Application
Version=1.0
